APP_PORT=8000
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_USER=pgsql
PGSQL_PASS=pgsql
PGSQL_DB=pgsql

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3030

CLIENT_ID=1111
CLIENT_SECRET=1111